html {
    box-sizing: border-box;
    font-family: sans-serif;
}

.card {
    display: inline-block;
    width: 150px;
    height: 250px;
    color: goldenrod;
    background-color: goldenrod; 
    border: 1px solid blueviolet;
    margin: 5px;
    padding: 10px;
}

.selected {
    background-color: blanchedalmond;
    color: purple;
}

.matched {
    color: white;
    background-color: white;
    border: 1px solid white;
}

.unmatched {
}